* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Paaji 2', cursive;
}

.sidebar {
    background-color: rgb(215, 205, 205);
    width: 15vw;
    height:100vh;
}

.sidebar nav{

    padding:4vw;

}

.sidebar nav li{

 list-style: none;
 font-size:1.8vw;
 font-weight: bolder;
 padding:1.2vw 0vw;  

}

.sidebar nav li a{

  text-decoration: none;
  color:black;

}

.main {
    /* background-color: yellow; */
    width: 85vw;
    padding:1vw;
}

.container {
    display: flex;
}

.infoContainer{

  background-color: aqua;
  width:75vw;
  height:75vh;
  margin:4vw auto;
  display:flex;
  justify-content: space-around;
  align-items: center;

}

.devInfo{

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Code Pro', monospace;

}

.hello{

     font-size:3vw;
     font-weight:200;
     color:blue;

}

.name{

    font-size:2.5vw;
    font-weight:bolder;
    color:red;

}

.about{

    font-size:2vw;
    color:green;

}

.more_about{
    padding:1vw 1.2vw;
}

.buttons{

  margin:1vw 0vw;

}

.buttons button{

  padding:0.6vw 0.8vw;
  border:0.2vw solid yellow;
  border-radius: 2vw;
  color:white;
  background-color: black;
  font-weight:bold;
  font-size:1.1vw;
  margin:0vw 0.4vw;

}

.buttons button:hover{
    cursor:pointer;
    background-color:rgb(91, 41, 200);
}

.devPic img{

   width:25vw;
   height:50vh;
   margin:1vw 0.2vw;

}

.contactform{

   padding:8vw 10vw;

}

.contactform h1{

   text-align:center;

   padding:2vw 4vw;

}

.contactform form div{

  padding:0.7vw 0vw;

}

.contactform form div input{

  border:0.3vw solid rgb(46, 22, 69);
  padding:0vw 4vw;
  margin:0vw 1.2vw;
  background-color: rgb(208, 230, 223);
  color:red;

}

#emailHelp{

   font-size:0.8vw;
   margin:0.2vw 2vw;
   color:red;

}

.btn-primary{

  padding:0.4vw 2vw;
  margin:0.5vw 10vw;
  border:0.2vw solid yellow;
  font-size:1.2vw;
  border-radius: 2vw; 
  background-color: rgb(3, 6, 11);
  color:white;
  cursor:pointer;

}

.btn-primary:hover{

   background-color:yellow;
   color:black;
   border:0.2vw solid black;

}

.links{
  text-decoration: none;
}

.blogheading{

  margin:3.5vw 26vw;
  font-size:4vw;

}

.links{

  margin:3vw 20vw;
  font-size:1.8vw;
  padding:2vw 0vw;

}

.blogs{

   border:0.3vw solid black;
   width:60vw;
   margin:1.2vw auto;
   padding:auto; 

}

.blogss{

  border:0.3vw solid black;
  width:60vw;
  margin:auto;
  padding:auto;

}

.blogss a{

  font-size:1.5vw; 

}